* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Segoe UI, sans-serif;
  background: linear-gradient(135deg,#667eea,#764ba2);
  min-height: 100vh;
  padding: 20px;
}

h1 {
  text-align: center;
  color: white;
  margin: 30px 0;
}

.card {
  background: white;
  padding: 25px;
  margin: 20px auto;
  border-radius: 16px;
  max-width: 550px;
}

.auth-box {
  max-width: 400px;
  margin-top: 80px;
}

.auth-box h2 {
  text-align: center;
  color: #667eea;
}

.auth-box input {
  width: 100%;
  padding: 12px;
  margin-bottom: 12px;
  border-radius: 10px;
  border: 2px solid #ddd;
}

button {
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  border: none;
  background: linear-gradient(135deg,#667eea,#764ba2);
  color: white;
  cursor: pointer;
}

.hidden {
  display: none !important;
}

.link {
  color: #667eea;
  cursor: pointer;
}

.add-box {
  display: flex;
  gap: 10px;
}

.filter-box {
  display: flex;
  gap: 10px;
  justify-content: center;
}

#task-list {
  max-width: 550px;
  margin: auto;
}

.task-card {
  background: white;
  padding: 12px;
  margin: 10px 0;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
}

.task-title.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

.logout {
  background: #f5576c;
}
